.feauters-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    margin-left: calc(-1 * #{$card-set-margin});
    margin-top: calc(-1 * #{$card-set-margin});
    margin-bottom: 0;
  }

  &__item {
    margin: 0 auto;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-right: 0;
      flex-basis: calc(100% / 2 - #{$card-set-margin});
      &:nth-child(n + 3) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - #{$card-set-margin});
      margin-left: $card-set-margin;
      margin-top: $card-set-margin;
      margin-bottom: 0;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}

.feauters-list__item:last-child {
  margin-bottom: 0;
}

.feauters-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $third-title-color;
  margin: 0 auto;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.feauters-list__text {
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin: 0 auto;
}
