.home-link {
  @extend %link;
  font-family: $font-raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__text {
    font-family: $font-raleway;
    color: $hover-color;
  }
}
