.footer {
  .container {
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: start;
      margin-left: 0;
    }
  }
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;

  &__home-link {
    color: #ffffff;
    display: inline-block;
    padding-top: 60px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-left: 115px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 24px;
      line-height: 1.17;
    }
  }

  &__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 9px;
    padding-right: 13px;
    @media screen and (min-width: 768px) {
      justify-content: center;
      margin-left: 61px;
    }
  }
}

.footer__link {
  @extend %link;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $hover-color;
  }
}

.address-section {
  margin: 0 auto;
  text-align: center;
}

.social-section {
  margin: 0 auto;
  text-align: center;
}
